{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Game{% endblock %}</h1>
{% endblock %}

{% block content %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src={{ url_for('static', filename='newgame.js') }}></script>
  <ul id="connections"></ul>
  <form method='post'>
    <button type='submit'>Create</button>
  </form>
{% endblock %}
