<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{% block title %}{% endblock %} - Mus</title>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='logo.svg') }}">

    {% endblock %}
  </head>

  <body>
    {% from 'bootstrap/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='logo.svg') }}" width="30" height="30" class="d-inline-block align-top" alt="logo">
          Mus
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% if current_user.is_authenticated %}
            {{ render_nav_item('index', '{}'.format(current_user.username), use_li=True) }}
            {{ render_nav_item('info.history', 'History', use_li=True) }}
            {{ render_nav_item('auth.logout', 'Logout', use_li=True) }}
          {% else %}
            {{ render_nav_item('index', 'Home', use_li=True) }}
            {{ render_nav_item('auth.register', 'Register', use_li=True) }}
            {{ render_nav_item('auth.login', 'Login', use_li=True) }}
          {% endif %}
        </ul>
      </div>
    </nav>
    <br><br>

    <div class="menu" style="margin-left: 50px; margin-top: 230px; float:left; width:18%">
      <table>
        <tbody>
          <tr>
              <td class="text-center">
                 <button id='mus' type='submit' style='visibility: hidden;'>Mus</button><br><br>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <button id='noMus' type='submit' style='visibility: hidden;'>No Mus</button><br><br><br>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <button id='pass' type='submit' style='visibility: hidden;'>Pass</button><br><br>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <button id='acceptBid' type='submit' style='visibility: hidden;'>Accept Bid</button><br><br>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <button id='envido' type='submit' style='visibility: hidden;'>Envido</button><br><br>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <br><br><br>
              </td>
          </tr>
          <tr>
              <td>
                  <form id='myForm' style='visibility: hidden;'>
                    <label for="name" style="text-align: center;">Bid</label><br>
                    <input type="int" id="bid"><br><br>
                    <input id='submit' type="button" value="Submit">
                  </form>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <br>
                 <div id='blueTeam' style='color:blue;'>
                 </div>
              </td>
          </tr>
          <tr>
              <td class="text-center">
                 <br>
                 <div id='redTeam' style='color:red;'>
                 </div>
          </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container" style="width: 100%; float: left;">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}

      <p>
      {% for message in get_flashed_messages() %}
      {{ message }}
      {% endfor %}
      </p>
    </div>
    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>
